// sections
.container-fluid {
    margin-bottom: 140px;
}

// hero section 
.hero {
    &-content {
        margin-top: 94px;
    }

    &-text {
        margin: 24px auto;
    }
}

// features section
.features {
    &-list {
        margin-top: 40px;
        margin-bottom: 72px;
    }
}

// download section 
.download {
    &-text {
        margin-bottom: 40px;
    }
}

// FAQ section
.faq {
    &-list {
        margin-bottom: 48px;
    }
}

// contact section 
.contact-us {
    padding: 60px 32px;
}

// footer section
.footer {
    padding-top: 40px;

    &-nav {
        margin-top: 39px;
        margin-bottom: 48px;
    }

    &-social {
        margin-bottom: 43px;
    }
}