// media queries (min-width: 320px and up)
@include for-size(iphone-5-up) {
    // features section
    .features {
        &-content__img {
            &.tab-1 {
                &::before {
                    left: -380px;
                    top: 40px;
                }
            }

            &.tab-2,
            &.tab-3 {
                &::before {
                    left: -380px;
                    top: 100px;
                }
            }
        }
    }

    .contact-us {
        &__email {
            // email field when input is invalid
            &.is-invalid {
                border-width: 2px 2px 30px;
            }
        }
    }
}

// media queries (min-width: 360px and up)
@include for-size(small-phone-up) {
    .img-bg {
        height: 203px;
    }

    // features section
    .features {
        &-content__img {
            &.tab-1 {
                &::before {
                    left: -350px;
                    top: 40px;
                }
            }

            &.tab-2,
            &.tab-3 {
                &::before {
                    left: -350px;
                    top: 80px;
                }
            }
        }
    }
}

// media queries (min-width: 411px and up)
@include for-size(pixel-phone-up) {
    // features section
    .features {
        &-content__img {
            &.tab-1 {
                &::before {
                    left: -350px;
                    top: 50px;
                }
            }

            &.tab-2,
            &.tab-3 {
                &::before {
                    left: -350px;
                    top: 120px;
                }
            }
        }
    }
}

// media queries (min-width: 576px and up)
@include for-size(landscape-phone-up) {
    img {
        width: 80%;
    }

    // hero section
    .hero {
        &-img {
            &::before {
                left: 250px;
                top: 100px;
            }
        }
    }

    // features section
    .features {
        &-content__img {
            &.tab-1 {
                &::before {
                    left: -300px;
                    top: 100px;
                }
            }

            &.tab-2,
            &.tab-3 {
                &::before {
                    top: 180px;
                }
            }
        }
    }
}


// media queries (min-width: 768px and up)
@include for-size(ipad-tablet-up) {
    .button.contact {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    
    img {
        width: 100%;
    }

    // nav menu 
    .nav-menu {
        visibility: visible;
        position: initial;
        overflow: initial;
        opacity: 1;
        background: $base-color;

        &__links {
            display: flex;
            margin: 0;
            width: 100%;
        }

        & .nav-link {
            color: $dark-blue;
            border: 0;
            padding: 0;
            font-size: $font-size-xsmall;

            &:first-of-type {
                padding-top: 0;
                border-top: 0;
            }

            &:last-child {
                border: 0;
                border-radius: 5px;
                margin-top: 0;
                padding: 12px 34px;
                background-color: $soft-red;
                color: $base-color;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
        }
    }

    // hero section
    .hero {
        &-img {
            flex: 1;

            &::before {
                left: 100px;
                top: 60px;
            }
        }

        &-content {
            flex: 1;
            margin-top: 0;
        }
    }

    // features section
    .features {
        &-text {
            width: 440px;
        }

        &-content__tab {
            &.active {
                display: flex;
                align-items: center;
                justify-content: space-around;

                & .features-content__img {
                    flex: 1;
                    margin-right: 40px;
                }

                & .features-content__text {
                    // flex: 0.7;
                    flex: 1;
                    text-align: left;
                }
            }
        }

        &-content__img {
            &.tab-1 {
                &::before {
                    top: 60px;
                }
            }

            &.tab-2,
            &.tab-3 {
                &::before {
                    top: 110px;
                }
            }
        }
    }

    // bootstrap list group 
    .list-group {
        &-flush {
            & .list-group-item {
                border-top: 0;
                border-left: 0;
            }
        }
    }

    // download section
    .download {
        &-text {
            width: 541px;
            margin-left: auto;
            margin-right: auto;
        }

        &-cards-container {
            height: 451px;
        }

        &-card {
            height: 371px;
            margin-bottom: 0;
        }
    }

    // FAQ section
    .faq {
        &-text {
            width: 541px;
            margin-left: auto;
            margin-right: auto;
        }

        &-list {
            width: 541px;
        }
    }

    // contact section
    .contact-us {
        .button.contact {
            width: 126px;
            display: inline-block;
        }

        &__title {
            width: 442px;
        }

        &__email {
            width: 300px;
            display: inline-block;
            margin-right: 16px;
        }

        .error {
            left: 125px;
        }
    }

    // footer section
    .footer {
        &-logo-img {
            flex: 1;
        }

        &-nav {
            flex: 2;
            margin: 0;
        }

        & .nav-link {
            margin-bottom: 0;
        }

        &-social {
            flex: 1;
            margin: 0;
        }

        &-attribution {
            flex: 100%;
        }
    }
}

// media queries (min-width: 992px and up)
@include for-size(large-devices-up) {
    img {
        width: 100%;
    }

    // hero section 
    .hero {
        &-img {
            &::before {
                left: 100px;
                top: 100px;
            }
        }
    }

    // features section
    .features {
        &-list {
            margin-left: 100px;
            margin-right: 100px;
        }

        &-content__tab {
            &.active {
                & .features-content__text {
                    margin-left: 60px;
                    margin-right: 60px;
                }
            }
        }

        &-content__img {
            &.tab-1 {
                &::before {
                    left: -300px;
                    top: 80px;
                }
            }

            &.tab-2,
            &.tab-3 {
                &::before {
                    top: 130px;
                }
            }
        }
    }

    // contact section
    .contact-us {
        .error {
            left: 240px;
        }
    }
}

// media queries (min-width: 1024px and up)
@include for-size(ipad-pro-up) {
    // features section
    .features {
        &-content__img {
            &.tab-1 {
                &::before {
                    top: 80px;
                }
            }

            &.tab-2,
            &.tab-3 {
                &::before {
                    top: 150px;
                }
            }
        }
    }

    // contact section
    .contact-us {
        .error {
            left: 255px;
        }
    }
}

// media queries (min-width: 1200px and up)
@include for-size(desktop-up) {
    // image background
    .img-bg {
        height: 300px;
    }

    // hero section
    .hero {
        &-img {
            &::before {
                left: 200px;
                top: 100px;
            }
        }
    }

    // features section
    .features {
        &-list {
            margin-left: 300px;
            margin-right: 300px;
        }

        &-content__img {
            &.tab-1 {
                &::before {
                    left: -200px;
                    top: 100px;
                }
            }

            &.tab-2,
            &.tab-3 {
                &::before {
                    left: -250px;
                    top: 150px;
                }
            }
        }
    }

    // contact section
    .contact-us {
        .error {
            left: 375px;
        }
    }
}